---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Not Found">
  <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900">
    Not Found
  </h1>
  <p class="leading-relaxed">
    We looked all over, but that page seems to have gotten away from us.
  </p>
</Layout>
