---
import Layout from "../layouts/Layout.astro";
import { fetchWithTimeout } from "../utility/fetchWithTimeout";

// SSG
/* export async function getStaticPaths() {
  const res = await fetch("https://jsonplaceholder.typicode.com/posts");
  const posts = await res.json();

  // Ex.1
  return posts.map((post: any) => ({
    params: {
      slug: post.id.toString(),
    },
    props: {
      post,
    },
  }));

  // Ex.2
  return posts.map((post: any) => {
    return {
      params: { slug: post.id.toString() },
      props: { post },
    };
  });
}

const { post } = Astro.props; */

// SSR
const res = await fetchWithTimeout(`https://astrojs-dynamic-page.netlify.app/api/posts/${Astro.params.slug}`);
const post = await res.json();


if (Object.keys(post).length === 0) {
  return Astro.redirect("/404");
}
---

<Layout title={post.title}>
  <h1>{post.title}</h1>
  <p>{post.body}</p>
</Layout>
