---
import Layout from "../layouts/Layout.astro";
import { fetchWithTimeout } from "../utility/fetchWithTimeout";

const res = await fetchWithTimeout("http://localhost:3000/api/posts");
const posts = await res.json();
---

<Layout title="AstroJS Dynamic Page Server-side Rendering">
  <h1>AstroJS Dynamic Page Server-side Rendering</h1>
  <main>
    {
      posts.map((x: any) => (
        <div>
          <a href={`${x.id}`}>
            {x.id} - {x.title}
          </a>
        </div>
      ))
    }
  </main>
</Layout>
