---
import Layout from "../layouts/Layout.astro";
import { fetchWithTimeout } from "../utility/fetchWithTimeout";

const res = await fetchWithTimeout("http://localhost:3000/api/calculator");
const posts = await res.json();
---

<Layout title="AstroJS Dynamic Page Server-side Rendering">
  <h1>AstroJS Dynamic Page Server-side Rendering</h1>
  <main>
    {
      posts.data.map((x: any) => (
        <div>
          <a href={`${x._id}`}>
            {x._id} : {x.title} ({x.createdAt})
          </a>
        </div>
      ))
    }
  </main>
</Layout>
